# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*
*.env

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Data
vindr_dataset/images/
cindr_dataset/**/*.dicom
data/
outputs/
logs/

# Images
.jpg
.jpeg